doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= WL Admin
    link(href="https://fonts.googleapis.com/css?family=Merriweather:700",rel="stylesheet")
    style.
      body { font-family: 'Merriweather', serif; }
  body
    header
      h1 WL Logo
      nav
        ul
          li Link
          li Link
          li Link
    section
      h2 WikiLogic Admin