doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= WikiLogic
    link(href="https://fonts.googleapis.com/css?family=Merriweather:700",rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:700|Rufina:700|Scope+One|Slabo+27px",rel="stylesheet")
    style.
      .zero { font-family: 'Merriweather', serif; }
      .one { font-family: 'Slabo 27px', serif; }
      .two { font-family: 'Playfair Display SC', serif; }
      .three { font-family: 'Scope One', serif; }
      .four { font-family: 'Rufina', serif; }
      .hero__title { font-size: 40px; }
      p { font-family: sans-serif; }
    link(rel="stylesheet",href="main.css")
  body
    include ../components/_header.pug
    .hero.four
      h2.hero__title Go BEYOND knowledge.
      p
        b.hero__tag WikiLogic is a crowdsourced map of the reasoning you use every day.
      hr
    .hero.three
      h2.hero__title Go BEYOND knowledge.
      p
        b.hero__tag WikiLogic is a crowdsourced map of the reasoning you use every day.
      hr