doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= WikiLogic
    link(href="https://fonts.googleapis.com/css?family=Merriweather:700",rel="stylesheet")
    style.
      body { font-family: 'Merriweather', serif; }
    link(rel="stylesheet",href="main.css")
  body
    include ../components/_header.pug
    .hero
      h2.hero__title The TOUR
      h3.hero__tag stuff stuff stuff stuff stuff