doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= WikiLogic
  body
    header
      h1 WL Logo
      nav
        ul
          li Link
          li Link
          li Link
    section
      h2 Cool tagline
    section
      h2 Marketing