<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Rufina" rel="stylesheet">
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>WL logo</h1>
    <h2>message: {{message}}</h2>
    <nav>
      <ul>
        <li>link</li>
        <li>link</li>
        <li>link</li>
      </ul>
    </nav>
  </header>
  <main>
    test
    {{> alchemy }}
    
  </main>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>-->
  <script type="text/javascript" src="alchemy-vendor.js"></script>
  <script type="text/javascript" src="alchemy-plugin.js"></script>
  <script type="text/javascript" src="bundle.js"></script>
</body>