doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= WikiLogic
    link(href="https://fonts.googleapis.com/css?family=Merriweather:700",rel="stylesheet")
    style.
      body { font-family: 'Merriweather', serif; }
    link(rel="stylesheet",href="")
  body
    header
      h1 WL Logo
      nav
        ul
          li Tour
          li The WL Foundation
          li Link
    .hero
      h2 Go BEYOND knowledge.
      h3 WikiLogic is a crowdsourced map of the reasoning you use every day.
    section
      h2 Marketing