header.header
  a.header__logo(href="/") WL
  //- nav accessability: https://css-tricks.com/navigation-in-lists-to-be-or-not-to-be/
  nav.header__nav(role="navigation")
    a(href="/tour") Tour
    a The WL Foundation
    a Link