.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        margin: 0;
        padding: rem(5);
    }

    &__nav {
        display: flex;

        a {
            padding: rem(5);
        }
    }
}